body {
     font-family:arial,helvetica,times;
     font-size:13px;
     padding:10px;
}

img {
    border: none;
}

img.home {
    height:63px;
    width:100px;
}

.clr { height:0;clear:both; }

.rounded_border {
    border: 1px solid lightGrey;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

header {
     font-size:115%;
     margin:0 0 20px 0;
     display:block;
}

.contents {
     width:1000px;
     margin:10px auto;
}

.notice {
     background-color:#eee;
     border:1px solid #0e0;
     padding:5px;
     width:100%;
}

.error {
     background-color:#eee;
     border:1px solid #e00;
     padding:5px;
     width:100%;
}

.login {
     width:100%;
     padding:5px;
     background-color:#eee;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     -moz-box-shadow: 2px 2px 8px #eee;
     -webkit-box-shadow: 2px 2px 8px #eee;
     box-shadow: 2px 2px 8px #eee;
}