body {
     font-family:arial,helvetica,times;
     font-size:13px;
     padding:0;
     margin:0;
     background-image: url("/images/home/black_bar.gif");
     background-repeat: repeat-x;
}

a {
    color:darkblue;
}
a:hover {
    cursor:pointer;
}

img {
    border: none;
}

img.home {
    height:63px;
    width:100px;
}

.clr { height:0;clear:both; }

.rounded_border {
    border: 1px solid lightGrey;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    height: 50px;
    color:white;
}

.footer {
    height: 50px;
    color:grey;
    padding:5px;
    text-align: center;
}

header {
     font-size:115%;
     margin:0 0 20px 0;
     display:block;
}

.contents {
     width:1000px;
     margin:10px auto;
}

.notice {
     background-color:#eee;
     border:1px solid #0e0;
     padding:5px;
     width:100%;
}

.error {
     background-color:#eee;
     border:1px solid #e00;
     padding:5px;
     width:100%;
}

.login {
     width:100%;
     padding:3px 0;
     border-bottom: 1px solid lightGrey;
}


.splash{
	width:200px;
	height:250px;
	float:left;
	margin:0 20px 0 20px;
	background-color:#CCC;
}

.splash-wrapper{
    display:block;
    text-align:center;

    margin:20px 0 20px;
    border-top:1px lightgrey solid;
    border-bottom:1px lightgrey solid;
}

.splash-img-wrapper{
    width:730px;
    margin:0 auto;
}

.headline{
    text-align: center;
}

.headline h1{
    font:"";
    font-size: 36px;
    margin:8px 0 0;
}
.headline h5{
    font-size: 14px;
    font-weight: none;
}

.register_button{
    display:block;
    height: 64px;
    width: 282px;
    margin:20px auto;
    background-image: url("/images/home/register_button_rounded.png");
    background-repeat:no-repeat;
}

.register{
    margin:290px 0 0;
    clear:both;
}