body{
    margin: 0;
    padding: 0;
}
.clr { height:10px;clear:both; }

.rounded_border {
    border: 1px solid lightGrey;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.wrapper {
    padding:0;
    margin:0;
}

.header_container {
    background-color: black;
}

.header {
    margin: 0 auto;
    height: 30px;
    color:white;
}

.header a {
    color: #009cff;
}

.footer {
    padding:0;
    text-align: center;
    background-color: #edebdd;
}

.footer h5 {
    padding:12px 0 8px;
    margin: 0;
    color:#404040;
}
.copyright {
    color:#383838;
    padding:15px 0 -25px;
    margin: 0 10px;
    float:left;
    clear:left;
    position:relative;
    top: 20px;
}

header {
     font-size:115%;
     margin:0 0 20px 0;
     display:block;
}

.contents {
     margin:10px auto;
     padding:15px;
}

.flash_container {
    margin: 5px 0;
    text-align: center;
}

.notice {
    background-color:#4DD64D;
    padding:1px;
}

.error {
    margin: 40px auto;
    background-color:#FF734D;
    padding:1px;
}