<% @page_specific_scripts_css = ["static/edit_account", "static/devise"] %>
<% @page_specific_scripts_css.push("registrations/new") if controller.action_name != "new" %>
<div class="sign_up_inline_container"><%= render :partial => "shared/sign_up_form" %></div>