<% if user_signed_in? %>
    <a href="/"><img src="/images/logos/zendo_small.png" /></a>
    <span style="float:right; margin: 8px 6px 0 0;">
            Welcome, <%= current_user.first_name %>&nbsp;|&nbsp;
            <%= link_to "Edit Account", edit_user_registration_path %>&nbsp;|&nbsp;
            <%= link_to "Sign Out", destroy_user_session_path %>
    </span>
<% else %>
    <a href="/"><img src="/images/logos/zendo.png" /></a>
<% end %>