<% @page_specific_scripts_js = ["ckeditor/ckeditor", "documents/index"] %>
<% @page_specific_scripts_css = ["documents/index"] %>

<div class="rounded_border doc_options">
  <span>Document Id: <input id="document_name" value="<Click the Create Button>"></input></span>
  <button id="create_button" style="flaot:right">Create</button>
  <button id="save_button" style="float:right">Save</button>
</div>

<div id="editor_container">
  <textarea id="editor" name="editor">&lt;p&gt;&lt;/p&gt;</textarea>
</div>

<div id="right_rail" class="rounded_border">
  <table class="align_bottom" valign="bottom"><tr><td id="cards" valign="bottom">
    <!--<div class="card card_active">truncated test</div>-->
    <!--<div class="card_focus card">
      <div class="card_front">front</div>
      <div class="card_back">back and probablyaf sfkljasldk jfasldjfl;aksdjflsjdfsj flsjf lsk</div>
    </div>-->
  </td></tr></table>
</div>

<div id="save_return"></div>

<script type="text/javascript">
//<![CDATA[
  CKEDITOR.replace( 'editor', {
    startupFocus : true,
    fullPage : true,
    on: {instanceReady : function( ev ) {Event.fire(document, 'CKEDITOR:ready');}}
  });
//]]>
</script>