<% @page_specific_scripts_js = ["parser", "documents/review", "progressbar"] %>
<% @page_specific_scripts_css = ["documents/review"] %>

<div id="title">
  <% if @document.nil? %>
    /<%= link_to @tag.name, '/#' + @tag.id.to_s %>/
  <% else %>
    /<%= link_to @document.tag.name, '/#%i' % @document.tag.id %>/
    /<%= link_to @document.name, '/editor/%i' % @document.id %>
  <% end %>
</div>

<div class="card_container">
  <table>
    <tr>
      <td class="grade grade_hide"><button id="strength_2">I got it, but who cares</button></td>
      <td class="rounded_border card_side" id="card_front"></td>
      <td class="grade grade_hide"><button id="strength_4">I've got this down</button></td>
    </tr>
    <tr>
      <td class="grade grade_hide grade_lower"><button id="strength_1">Don't know, don't care</button></td>
      <td class="rounded_border card_side" id="card_back"></td>
      <td class="grade grade_hide grade_lower"><button id="strength_3">I want to know this better</button></td>
    </tr>
  </table>
  
  <div id="progress_bar_container">< Back&nbsp;&nbsp;|&nbsp;&nbsp;
    <span id="progress_bar"></span>&nbsp;&nbsp;&nbsp;
    <span id="progress_fraction"></span>&nbsp;&nbsp;|&nbsp;&nbsp;Next >
  </div>
</div>

<div id="card_json" style="display:none;"><%=@lines_json%></div>

<div id="log" style="margin-top:25px;"></div>