<% @page_specific_scripts_js = ["parser", "documents/review"] %>
<% @page_specific_scripts_css = ["documents/review"] %>

<div class="rounded_border card">
  <table>
    <tr><td class="card_side" id="card_front"></td></tr>
    <tr><td class="card_side" id="card_back"><button id="card_next">Next</button></td></tr>
  </table>
</div>

<div id="card_json" style="display:none;">
  {"0": {"text": "test0 - asdf", "id": "0"}, "1": {"text": "test1 - iopasdf", "id": "1"}, "2": {"text": "test1 - qweasdf", "id": "2"}}
  <%#=@cards%>
</div>
