<% @page_specific_scripts_js = ["documents/test_edit"] %>

<label for="user_count">User count (does not update automatically):</label>
<input id="user_count" value="10" />
<br/><br/>

<label for="save_interval">Save interval (secs):</label>
<input id="save_interval" value="10" />
<br/><br/>

<label for="new_node_count">New node count:</label>
<input id="new_node_count" value="1" />
<br/><br/>

<button id="start_button">Start</button>
<button id="stop_button">Stop</button>
<button id="restart_button">Restart</button>

<br /><hr /><br />

<label for="update_count">Total updates:</label>
<input id="update_count" value="0" />
<br/><br/>

<label for="last_update">Last update time:</label>
<input id="last_update" value="0" />
<br/><br/>

<label for="average_update">Average update time:</label>
<input id="average_update" value="0" />
<br/><br/>

<% if !@document.nil? %>
  <input id="html" type="hidden" value="<%=@document.html%>" />
  <input id="id" type="hidden" value="<%=@document.id%>" />
<%  end %>