<style>
  .quickStudy{
    width:100px;
    float:left;
    margin:5px 40px 5px 5px;
    padding:5px;
    height:175px;
}
.QScard{
  height: 110px;
  width: 130px;
  border: solid 1px black;
  background-color: white;
}
</style>

<script language="javascript">
function toggle() {
	var front = document.getElementById("card_front");
	var back = document.getElementById("card_back");
        var side = document.getElementById("card_side");
	if(front.style.display == "block") {
    		front.style.display = "none";
		back.style.display = "block";
                side.innerHTML = "<em>Back</em>";
  	}
	else {
		front.style.display = "block";
		back.style.display = "none";
                side.innerHTML = "<em>Front</em>";
	}
}
</script>

<div class="quickStudy">
  <h4>Quick Study</h4>
  <span id="card_side" style="margin:0 auto; text-align: center;"><em>Front</em></span>
  <div class="QScard">
    <span id="card_front" style="display: block; padding:5px; text-align: center;">Term</span>
    <span id="card_back" style="display: none; padding:5px; text-align: center;">Definition</span>
  </div>
  <a id="displayText" href="javascript:toggle();">Flip Card</a>
</div>