<style>
  .recentDocs{
    width:100px;
    float:left;
    margin:5px 40px 5px 5px;
    padding:5px;
    background-color: #D3D3D3;
}

</style>

<div class="recentDocs">
  <h4>Recent Docs</h4>
  <% document = @rDocs %>
  <% document.each do |docs| %>
  <div document_id="<%=  docs[0]%>" style="margin:5px 0;">
    <a href="/documents/<%=  docs[0]%>/edit">
      <div class="folder" style="float:left;">
      <img class="folder" alt="" height="25" src="/images/organizer/doc-icon.png" />
      </div>
      <div class="title" style="width:60px; float:right;"><%=  docs[1]%></div>
      <div style="clear: both;"></div>
    </a>
  </div>
  <%end%>
</div>

<!--
<div document_id="'+document['id']+'" class="icon_container rounded_border">
    <a href="/documents/'+document['id']+'/edit">
      <div class="title">'+document['name']+'</div>
      <div class="folder">
      <img class="folder" alt="" src="/images/organizer/doc-icon.png" />
      </div>
    </a>
    <div class="folder_options">\
      <a href="/documents/'+document['id']+'/edit"><img class="rounded_border" alt="" src="/images/organizer/edit-icon.png" /></a>
      <a href="/review/'+document['id']+'"><img class="rounded_border" alt="" src="/images/organizer/play-icon.png" /></a>
      <img class="rounded_border remove_document" alt="" src="/images/organizer/remove-icon.png" />
    </div>
  </div>

-->