<div class="title">About Zendo</div>

<div class="about_sections">
  <div class="problem about_section">
    <h3>The Problem: Managing an <span class="important_term">unmanagable</span> amount of information</h3>
    <p>Students are asked to learn an extraordinary amount of information in a short period of time. When it comes time to review, we have to sort through book and lecture notes to determine what really matters and review it effectively.</p>
    <p>As a result, we spend a lot of our study time figuring out what to learn and reviewing stuff we already know.</p>
  </div>

  <div class="solution about_section">
    <h3>The Solution: Study <span class="important_term">what</span> you need to <span class="important_term">when</span> you need to</h3>
    <p>Start by doing what you're doing. Yes, that's right. Take notes in class (on your laptop) as you do normally.</p>
    <p>Just one difference: Whenever you are writing down a concept, name, important date, etc. add a hyphen between a term and definition.</p>
    <p>Now you're ready to dramatically optimize you're studying. Study you're notes as flashcards. Indicate what you know and how important it is to you and that's all there is to it.</p>
    <p>You learn. We optimize your time.</p>
  </div>

  <div class="vision about_section">
    <h3>Our Vision</h3>
    <h4><span class="important_term">No extra time or effort</span> in the note-taking process</h4>
    <p>Take notes on your computer as usual. That's it. Don't spend time making study materials.</p>
    <h4><span class="important_term">Efficient</span> use of students' time</h4>
    <p>Don't just read through your notes a few times before the test. Instead, spend less time reviewing only what matters and what you have likely forgotten.</p>
    <h4>Focus on the <span class="important_term">long-term</span></h4>
    <p>This is our favorite benefit. Keep the most important information you learned at the tip of your tounge.</p>
    <p>Be an expert!</p>
  </div>
</div>