<% @page_specific_scripts_css = "static/generic" %>

<div class="title">Terms of Use</div>
<div class="about_sections">
  <div class="about_section">
    <h4>
      Terms of Use Agreement
      Last Updated: February 7, 2011
    </h4>
    <p>
      IMPORTANT:
      THIS AGREEMENT IS A CONTRACT.
      IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS, INCLUDING VARIOUS LIMITATIONS AND EXCLUSIONS.
      PLEASE READ THIS AGREEMENT CAREFULLY<!-- BEFORE CLICKING “I ACCEPT”-->
    </p>
    <!--<p>
      CLICKING “I ACCEPT” MEANS YOU ACCEPT THIS AGREEMENT AND UNDERSTAND THAT IT WILL BE LEGALLY BINDING ON YOU. IF YOU DO NOT AGREE WITH THE TERMS AND CONDITIONS OF THIS AGREEMENT, OR DO NOT WANT THE AGREEMENT TO BE BINDING ON YOU, DO NOT CLICK “I ACCEPT.” IN SUCH CASE, YOU SHALL HAVE NO AUTHORIZATION TO ACCESS OR USE THE SITE OR ANY SERVICE.
    </p>-->
    <h4>Table of Contents</h4>
    <p>
      GENERAL USE PROVISIONS<br />
      The Parties<br />
      Application<br />
      Definitions<br />
      Acceptance of terms through use<br />
      Changes to this Agreement<br />
      Accounts<br />
      Email and Notices<br />
      Copyright Notices<br />
      License and Site Access<br />
      Materials<br />
      Mobile Services<br />
      User Conduct and General Practices<br />
      Co-Branding, Framing, Metatags and Linking<br />
      Digital Millennium Copyright Act (DMCA) Policy and Notification<br />
      Users attending California Schools<br />
      User Representations<br />
      Disclaimer of Warranties<br />
      Limitation of Liability<br />
      Parental Control Protections<br />
      Special Admonitions for International Use<br />
      Third Party Websites and Content<br />
      Submissions<br />
      Miscellaneous<br />
      Acceptance of Electronic Contract<br />
      Additional Provisions for Advertisers<br />
      <!--FINANCIAL TERMS AND CONDITIONS<br />
      Notice<br />-->
    </p>
    <p>
      IN CONSIDERATION and exchange of the mutual covenants of the Parties contained herein and the mutual benefits to be received under this Agreement, the Parties agree as follows:
    </p>

    <h4>GENERAL USE PROVISIONS</h4>

    <h4>The Parties</h4>
    <p>
      This Terms of Use Agreement (referred to as the “Agreement” or “Terms of Use”) is made by and between Zendo Education Technology and its organizational affiliates (referred to collectively herein as “we,” “us,” “Company” or “Zendo Education Technology”) and YOU. This Agreement contains the terms and conditions that govern your use of the web site found at http://www.zen.do, its mobile version(s) and any of its sub-domains (collectively, the “Site”), and any authorized activity made available by us to Users (collectively, the “Services”). Unless otherwise indicated, the term “Site” shall include the Services. You and Company may be referred to collectively herein as the “Parties” and individually as a “Party.”
    </p>

    <h4>Application</h4>
    <p>
      This Agreement applies generally to all Users. Provisions applying only to certain types of Users (such as Premium Users and Advertisers) are so designated. Persons purchasing gift subscriptions for others accept and are bound by the financial and billing terms of this Agreement, as well as other general terms reasonably applicable to their purchase transactions.
    </p>

    <h4>Definitions</h4>
    <p>
      For purposes of this Agreement the following definitions shall apply:
    </p>

    <p>
      “Advertiser” means any Person who purchases advertising on the Site.<br />
      “Author” means any individual or group, whether or not organized as a legal entity, that made any creative contribution to Materials posted at, on or through the Site.<br />
      “Person” means any individual, corporation, partnership, association or other group of persons, whether or not organized as a legal entity, including their legal successors and representatives.<br />
      “Materials” means any and all works of authorship posted to the Site by any User, whether copyrightable or not, including but not limited to notes, outlines, syllabi, course packs, musical compositions, sound recordings, pictorial works, graphic works, literary works, audiovisual works, compilations, collective works and databases.<br />
      “Premium User” means any User who registers on the Site for any level of service other than our basic free service.<br />
      “Term” means the period of time during which this Agreement is in effect as between Company and You. Termination of your Zendo Education Technology account for any reason shall terminate the Term. Termination shall not be effective with respect to any provision of this Agreement that is either specifically designated as surviving termination, or should reasonably survive in order to accomplish the objectives of this Agreement.<br />
      “User” means any Person who visits, submits Material to or in any manner avails themselves of any Service offered at, on or through the Site. The term, “User” includes, but is not limited to, Advertisers and Premium Users.<br />
    </p>

    <h4>Acceptance of terms through use</h4>
    <p>
      You acknowledge that you have read, understand and agree to be bound by this Agreement.<br />
    </p>

    <p>
      This Agreement also includes, and by accessing the Site or using any Services you accept, the privacy policy found at http://zen.do/privacy and all other notices, statements, “frequently asked questions (FAQs)” or the like posted on the Site and applicable to the Site and/or Services, as they may be amended from time to time (collectively, the “Policies”). The Policies are incorporated herein by this reference, and you agree to their terms. You should review the Policies frequently and carefully. In the event of any conflict between this Agreement and the Policies, this Agreement shall control.
    </p>

    <p>
      By accessing the Site or using any Services you are consenting to have your personal data transferred to and processed in the United States.
    </p>

    <h4>Changes to this Agreement</h4>
    <p>
      We may change or modify this Agreement (including the Policies) at any time without further notice and such changes or modifications will become effective upon being posted to the Site. We will indicate at the top of its first page the date this Agreement was last revised. If you do not agree to abide by this or any future versions of the Agreement, do not use or access (or continue to use or access) the Site or Services. It is your responsibility to check the Site regularly to determine if there have been changes to the Agreement and to review such changes.
    </p>

    <h4>Accounts</h4>
    <p>
      You agree to provide true, accurate, current and complete information about yourself as prompted by the registration and log in processes (such information being your “Account Information”). You further agree that, in providing your Account Information, you will not knowingly omit or misrepresent any material facts or information and that you will promptly enter corrected or updated Account Information, or otherwise advise us promptly in writing of any such changes or updates. You further consent and authorize us to verify your Account Information as required for your use of and access to the Site and any Service.
    </p>
    <p>
      You will receive a unique Zendo Education Technology username and password in connection with your account, (collectively referred to herein as your “Username”). You agree that you will not allow any other Person to use your Username to access or use the Site or any Service under any circumstances. You are solely and entirely responsible for maintaining the confidentiality of your Username. Zendo Education Technology is not liable for any harm caused by or related to the theft of your Username, the disclosure of your Username, or your authorization to allow any other Person to access or use the Site or any Service using your Username. You are solely and entirely responsible for any and all activities that occur under your account, including, but not limited to, any charges incurred relating to the Site or any Service. You agree to notify us immediately of any unauthorized use of your account or any other breach of security known to you. You acknowledge that the complete privacy of your data transmitted while using the Site or any Service cannot be guaranteed.
    </p>
    <p>
      You will not share, reveal or distribute any Site-related passwords provided by a professor or other representative of any educational institution, publisher or the like. You agree and understand that doing so shall be a material violation of this Agreement and that, in addition to other remedies that may be available, Zendo Education Technology may immediately terminate your account if you violate this condition.
    </p>
    <p>
      Zendo Education Technology, in its sole discretion and without notice to you, may freeze or otherwise disable access to your account for a reasonable period of time to investigate any good faith suspicion we may have regarding activities occurring under your account that may be in violation of this Agreement and/or applicable law.
    </p>
    <p>
      You agree that your failure to abide by any provision of this Agreement or any Policy, your willful provision of inaccurate or unreliable Account Information, your failure to update your Account Information to keep it current, complete or accurate, and/or your failure to respond to inquiries from Zendo Education Technology concerning the accuracy of your Account Information shall be considered a material breach of this Agreement. If within ten (10) calendar days after Zendo Education Technology provides notice (in any form and via any method of delivery) to you of such material breach, you fail to provide evidence, reasonably satisfactory to Zendo Education Technology, that you have not breached your obligations under this Agreement, Zendo Education Technology may terminate your account without further notice to you and without any obligation to refund or pay any sums to you for any reason.
    </p>
    <p>
      Violations of this Agreement may result in civil and/or criminal liability. We have the right but not the obligation to investigate occurrences which may involve such violations and we may provide information to and cooperate with, law enforcement authorities in prosecuting any User who is involved in such violations.
    </p>

    <h4>Email and Notices.</h4>
    <p>
      You agree that Company may provide any and all notices, statements and other communications to you through the e-mail address specified in your Account Information or, in Company’s sole discretion, by mail, express delivery service, facsimile or other electronic communication sent to the respective addresses specified in your Account Information.
    </p>

    <h4>Copyright and Trademark Notices</h4>
    <p>
      The Site is protected by all applicable federal and international intellectual property laws. Except for Materials, all content included on the Site and Service, including but not limited to text, graphics, logos, layout, design, button icons, images, data compilations, code, multimedia content (including but not limited to images, illustrations, audio and video clips), html and other mark up languages, all scripts within the Site or associated therewith and all other work and intellectual property of any type or kind, whether patentable or copyrightable or not (hereinafter, without limitation, “Site Content”), is the property of Company or its content suppliers and is protected by United States and international copyright laws with All Rights Reserved. The compilation of all Site Content is the exclusive property of Company and is protected by United States and international copyright laws with All Rights Reserved. All software used on the Site is the property of Company or its software suppliers and is protected by United States and international copyright laws with All Rights Reserved.
    </p>

    <h4>License and Site Access</h4>
    <p>
      Conditioned upon your compliance with all the terms and conditions of this Agreement, Zendo Education Technology grants you a personal, revocable, nontransferable, and non-exclusive license to access and make personal use of the Site during the Term.
    </p>
    <p>
      You will not, and You will not allow any third party to, copy, modify, create a derivative work from, or attempt to transfer any right in or element of the Site. You will not download (other than page caching) or modify the Site or any portion of it, without Company’s express written consent. No portion of the Site may be reprinted, republished, modified or distributed in any form without Company’s express written permission. You agree not to reproduce, reverse engineer, decompile, disassemble or modify any portion of the Site.
    </p>
    <p>
      This license expressly excludes any resale or commercial use of the Site or its contents; any commercial collection or use of any information, advertisements, data or prices; any derivative use of the Site or its contents; any downloading or copying of any User’s Account Information; and any use of data mining, robots, or similar data gathering and extraction tools. Neither the Site nor any portion thereof may be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without Company’s express written consent.
    </p>
    <p>
      You are not granted any rights or license to patents, copyrights, trade secrets or trademarks with respect to the Site or any Service, and Zendo Education Technology reserves all rights not expressly granted hereunder. You shall promptly notify Zendo Education Technology in writing upon your discovery of any unauthorized use or infringement of the Site or any Service or Company’s patents, copyrights, trade secrets, trademarks or other intellectual property rights. The Site contains proprietary and confidential information.
    </p>
    <p>
      You agree not to copy, display or otherwise use any Zendo Education Technology Marks without our prior written permission. The Zendo Education Technology Marks may never be used in any manner likely to cause confusion, disparage or dilute the Zendo Education Technology Marks and/or in connection with any product or service that is not authorized or sponsored by Zendo Education Technology.
    </p>
    <p>
      You may not remove or alter, or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other proprietary notice or legend appearing on the Site.
    </p>

    <h4>Materials</h4>
    <p>
      Zendo Education Technology shall have the right but not the obligation to review all Materials and in its sole discretion to remove or refuse to post any Materials for any reason.
    </p>
    <p>
      You are solely responsible at your own cost and expense for creating backup copies and replacing any Materials you post or store on the Site or otherwise provide to Company.
    </p>
    <p>
      Subject to our Privacy Policy, no Materials or other information uploaded or sent to Zendo Education Technology at, on or through the Site will be deemed or treated as confidential.
    </p>
    <p>
      You shall retain all ownership rights in and to your Materials. Notwithstanding, when you post, transmit or share Materials, you authorize and direct us to make such copies thereof as we deem necessary in order to facilitate the storage and display of such Materials.
    </p>
    <p>
      By posting Materials to the Site, you automatically grant, and you represent and warrant that you have the right to grant to Company a worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Materials in connection with the Site and Service, including without limitation for promoting and redistributing part or all of the Site (and derivative works thereof) in any media formats and through any media channels now known or hereafter devised.
    </p>
    <p>
      If you choose to make your Materials public: You hereby grant each User of the Site and Service a non-exclusive, royalty-free, non-transferable license to access the Materials through the Site and Service, and to use, reproduce, adapt, distribute, display and perform such Materials for their own personal, non-commercial purposes. Beyond any action that may be appropriate pursuant to our DMCA Policy, Zendo Education Technology shall play no role in any disputes you may have with Users who allegedly violate this license. You understand and agree that it is your sole responsibility, at your sole expense, to address such disputes directly with such Users, and you hereby release and hold Zendo Education Technology harmless from any and all obligations, liabilities, expenses, and the like related to such User disputes.
      You may remove your Materials from the Site at any time, as long as your Zendo Education Technology account is active. You understand and agree that once you terminate your account you will not have the ability to remove your Materials. The licenses granted by you in Materials are perpetual and irrevocable.
    </p>
    <p>
      WARNING: COMPANY DOES NOT CONTROL MATERIALS POSTED TO THE SITE OR VIA THE SERVICE AND, AS SUCH, DOES NOT GUARANTEE THE ACCURACY, INTEGRITY OR QUALITY OF ANY MATERIALS. COMPANY DOES NOT ENDORSE ANY MATERIALS OR ANY OPINION, RECOMMENDATION OR ADVICE EXPRESSED THEREIN, AND COMPANY EXPRESSLY DISCLAIMS ANY AND ALL LIABILITY IN CONNECTION WITH MATERIALS.
      YOU UNDERSTAND THAT BY ACCESSING THE SITE AND USING THE SERVICE, YOU MAY BE EXPOSED TO MATERIALS THAT ARE OFFENSIVE, INDECENT, OBJECTIONABLE OR INACCURATE. COMPANY DOES NOT KNOWINGLY PERMIT COPYRIGHT INFRINGING ACTIVITIES AND INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS ON THE SITE, AND, IN ACCORDANCE WITH COMPANY’S DMCA POLICY COMPANY WILL REMOVE MATERIALS IF PROPERLY NOTIFIED THAT SUCH MATERIALS INFRINGES ON ANOTHER’S INTELLECTUAL PROPERTY RIGHTS.
    </p>
    <p>
      YOU UNDERSTAND THAT YOU MAY BE SUBJECT TO CERTAIN LAWS AND SCHOOL POLICIES THAT RESTRICT THIRD-PARTY USE OF MATERIALS PREPARED BY EDUCATORS. IT IS YOUR SOLE RESPONSIBILITY TO BE AWARE OF AND TO ABIDE BY ANY SUCH LAWS OR POLICIES THAT MAY APPLY TO YOU.
    </p>
    <p>
      YOU MAY ACCESS MATERIALS SOLELY FOR YOUR INFORMATION AND NON-COMMERCIAL, PERSONAL USE AND AS INTENDED THROUGH THE NORMAL FUNCTIONALITY OF THE SITE AND SERVICE. ALL MATERIALS ARE MADE AVAILABLE “AS IS” AND MAY NOT BE COPIED, REPRODUCED, DISTRIBUTED, OR OTHERWISE EXPLOITED IN ANY MANNER OTHER THAN AS INTENDED BY THE NORMAL FUNCTIONALITY OF THE SITE AND SERVICE.
    </p>

    <h4>Mobile Services</h4>
    <p>
      The Site may be available via your mobile phone, and may provide without limitation the ability to upload content to the Site and to send and receive messages, instant messages, Materials, and other types of communications that may be developed for the Site (collectively the “Mobile Services”). Your mobile carrier’s normal messaging, data and other rates and fees may apply when using the Mobile Services. In addition, downloading, installing, or using certain Mobile Services may be prohibited or restricted by your mobile carrier, and not all Mobile Services may work with all mobile carriers or devices. When available, by using any Mobile Services, you agree that we may communicate with you regarding Company and the Site by multimedia messaging service, short message service, text message or other electronic means to your mobile device and that certain information about your usage of the Mobile Services may be communicated to us.
    </p>

    <h4>User Conduct and General Practices</h4>
    <p>
      Without limiting any other provision of this Agreement, you agree not to use the Site or the Services in any unlawful manner or, without limitation, to:
    </p>
    <p>
      harvest or collect email addresses or other contact information from others by electronic or other means;<br /><br />
      damage, disable, overburden or impair the Site;<br /><br />
      use automated scripts to collect information from or otherwise interact with the Site;<br /><br />
      upload, post, transmit, share, store or otherwise make available any content that we deem to be harmful, threatening, unlawful, defamatory, infringing, abusive, inflammatory, harassing, vulgar, obscene, fraudulent, invasive of privacy or publicity rights, hateful, or racially, ethnically or otherwise objectionable;<br /><br />
      impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your age or your affiliation with any person or entity;<br /><br />
      upload, post, transmit, share or otherwise make available any unsolicited or unauthorized advertising, solicitations, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation;<br /><br />
      upload, post, transmit, share, store or otherwise make publicly available any private information of any third party, including, without limitation, addresses, phone numbers, email addresses, Social Security numbers and credit card numbers;<br /><br />
      solicit personal information from anyone under 13 or solicit passwords or personally identifying information for commercial or unlawful purposes;<br /><br />
      upload, post, transmit, share or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;<br /><br />
      intimidate, stalk or harass any Person;<br /><br />
      upload, post, transmit, share, store or otherwise make available content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any local, state, national or international law;<br /><br />
      use or attempt to use another’s account, or create a false identity on the Site;<br /><br />
      provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) pursuant to Section 219 of the Immigration and Nationality Act; and/or<br /><br />
      upload, post, transmit, share, store or otherwise make available content that, in the sole judgment of Company, is objectionable or which may expose Company or its Users to any harm or liability of any type.<br /><br />
      You understand that the technical processing and transmission of your Materials may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.<br /><br />
      You agree that Company has no responsibility or liability for the deletion or failure to store any communications, or<br /><br />
    </p>
    <p>
      Materials
      Company reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Site and Services (or any part thereof) with or without notice. You agree that Company shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Site or Services.
    </p>

    <h4>Co-Branding, Framing, Metatags and Linking</h4>
    <p>
      Co-Branding. You may not co-brand this Site. For purposes of this Agreement, “co-branding” means to display a name, logo, trademark, or other means of attribution or identification of Zendo Education Technology or zen.do in such a manner as is reasonably likely to give the impression that you have the right to display, publish, or distribute this Site or content accessible within this Site. You agree to cooperate with Zendo Education Technology in causing any unauthorized co-branding immediately to cease.
    </p>
    <p>
      Framing. You may not frame or use framing techniques to enclose any Zendo Education Technology trademark, logo, or other proprietary information (including but not limited to images, text, page layout, and form) without Company’s express written consent. You may not include Company’s name or trademarks in any metatags or any other “hidden text” without Company’s express written consent.
    </p>
    <p>
      General Linking. You are granted a limited, revocable, nonexclusive license to create a hyperlink to the Site’s home page, during the Term, provided that you comply with all of the following:
    </p>
    <p>
      The link must be a text-only link clearly marked “Zendo Education Technology” or ”zen.do” or “http://zen.do”;<br /><br />
      The link must “point” to the URL <http://zen.do> and not to any other page within or without the Site;<br /><br />
      The link, when activated by any Person, must display the Site full-screen and not within a “frame” on the linking or any other site;<br /><br />
      The link shall not portray Zendo Education Technology, zen.do or its products or services in any false, misleading, disparaging or otherwise offensive manner;<br /><br />
      The link may not use any Zendo Education Technology logo or other proprietary graphic or trademark as part of the link without Company’s prior express written permission; and<br /><br />
      The appearance, position and other aspects of the link must not be such as to damage or dilute the goodwill associated with our name and trademarks or create any false appearance that we are associated with or sponsor the linking or any other site.<br /><br />
      We reserve the right to revoke any license to link at any time in our sole discretion, with or without notice.<br /><br />
    </p>
    <p>
      Any unauthorized activity by you shall result in the immediate and automatic termination of your account and all permission, rights and/or licenses granted to you by Zendo Education Technology, and may also result in such additional action as Zendo Education Technology deems necessary to protect and enforce its legal rights.
    </p>

    <h4>Digital Millennium Copyright Act (DMCA) Policy and Notification</h4>
    <p>
      Section 512 of the Copyright Law of the United States (17 U.S.C. §512) limits liability for copyright infringement by service providers if the service provider has designated an agent for notification of claimed infringement by providing contact information to the Copyright Office and through the service provider’s website. Zendo Education Technology has designated an agent to receive notification of alleged copyright infringement (our agent is identified below). This section is without prejudice or admission as to the applicability of the Digital Millennium Copyright Act, 17 U.S.C., Section 512, to Zendo Education Technology.
    </p>
    <p>
      How to report a claim of infringement
      If you believe that any of your exclusive rights under United States copyright law have been violated in a manner that constitutes infringement, and that the allegedly infringing material is accessible on the Site or through Zendo Education Technology, Inc. as an online service provider, you must notify our designated agent.
      The law requires that to be valid, your claim of copyright infringement must be written and addressed to our agent (identified below) and must provide the following information (the list below comes straight from the statute; if you do not understand the language please seek independent advice):
    </p>
    <p>
      A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;<br /><br />
      Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;<br /><br />
      Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material;<br /><br />
      Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;<br /><br />
      A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and<br /><br />
      A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.<br /><br />
      When filing an infringement claim, please include any URLs identifying the allegedly infringing material along with any other information that might assist our agent’s investigation of your claim.<br /><br />
    </p>
    <p>
      Upon receipt of a valid claim (i.e., a claim in which all required information is substantially provided) Zendo Education Technology will undertake to have the disputed material removed from public view. We will also notify the User who posted the allegedly infringing material that we have removed or disabled access to that material. Zendo Education Technology has no other role to play either in prosecuting or defending claims of infringement, and cannot be held accountable in any case for damages, regardless of whether a claim of infringement is found to be true or false.
    </p>
    <p>
      Please note: If you materially misrepresent that material infringes your copyright interests, you may be liable for damages (including court costs and attorneys fees) and could be subject to criminal prosecution.
    </p>
    <p>
      How to make a counter notification
    </p>
    <p>
      If you are a User and you feel that material that you have placed online that has been removed following an infringement complaint is in fact NOT an infringement, you may file a counter notification. Section 512 (g)(3) requires that to be valid, the counter notification must be written and addressed to our agent (identified below) and must provide the following information (again, the list below comes straight from the statute; if you do not understand the language please seek independent advice):<br /><br />
      A physical or electronic signature of the subscriber;<br /><br />
      Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;<br /><br />
      A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and<br /><br />
      The subscriber’s name, address, and telephone number, and a statement that the subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if the subscriber’s address is outside of the United States, for any judicial district in which the service provider may be found, and that the subscriber will accept service of process from the person who provided notification under or an agent of such person.<br /><br />
      Our designated agent will present your counter notification to the person who filed the infringement complaint. Once your counter notification has been delivered, Zendo Education Technology, Inc. is allowed under the provisions of Section 512 to restore the removed material in not less than ten or more than fourteen days, unless the complaining party serves notice of intent to obtain a court order restraining the restoration.<br /><br />
    </p>
    <p>
      It is Zendo Education Technology’s policy to terminate the accounts of Users who are found to be repeat infringers.
    </p>

    <h4>Users in California</h4>
    <p>
      This section applies to Users who attend schools in the state of California.
    </p>
    <p>
      You agree to comply with California Education Code sections 66450 – 66452.  You acknowledge and represent that you have read and understand those provisions, which appear here. If Zendo Education Technology receives a complaint that you have violated any of these provisions, Zendo Education Technology may take whatever action it deems appropriate under the circumstances, including but not limited to privatizing your content and/or terminating your Zendo Education Technology account. You also understand that you could be subject to other penalties imposed by the State of California. Without limiting any other provision of this Agreement, you agree to and hereby do indemnify Zendo Education Technology, its principals, officers, agents, employees, licensees, assigns and customers against, and hold them harmless from, any loss, expense (including reasonable attorney fees and expenses), or damage occasioned by any claim, demand, suit, recovery, or settlement arising out of any breach or alleged breach by you of the above California provisions.
    </p>

    <h4>User Representations</h4>
    <p>
      By accepting this Agreement you expressly warrant and represent the following to Zendo Education Technology and acknowledge that Zendo Education Technology is relying upon such warranties and representations:
    </p>
    <p>
      That all factual assertions you have made and will make to us are true and complete.<br /><br />
      That you are deriving benefits from this Agreement and from using the Site.<br /><br />
      That you have read, understand and agree to our Content Sharing policy.<br /><br />
      That you have reached the age of majority and are otherwise competent to enter into contracts in your jurisdiction; and that in any event you are at least 18 years of age. Provided, however, that if you are under the age of 18 the foregoing shall not be considered a misstatement or misrepresentation if your legal guardian accepts the terms and conditions of this Agreement on your behalf.<br /><br />
      That you have obtained and hold all rights, approvals, permits, consents, licenses and/or permissions, in proper legal form, necessary to submit Materials on the terms provided herein, to grant Zendo Education Technology the licenses set forth herein and, if you are an Advertiser, to sell and deliver any goods or services you offer in any advertisement on the Site.<br /><br />
      That no other rights, approvals, permits, consents, licenses and/or permissions are required from any other person or entity to submit your Materials on the terms provided herein or to grant Zendo Education Technology the licenses set forth herein or, if you are an Advertiser, to sell and deliver any goods or services you offer in any advertisement on the Site.<br /><br />
      That if your Materials contain any copyrightable work the rights to which are owned in whole or in part by any person or entity other than you, that you have obtained and hold all rights, approvals, consents, licenses and/or permissions, in proper legal form, necessary to use and include such work in your Materials; and that your Materials do not otherwise infringe on the personal, privacy, publicity or intellectual property rights of any Person.<br /><br />
      That neither your Materials nor the act of posting or sharing them on the Site violates any common law or statutory patent, copyright, privacy, publicity, trademark,  trade secret or any other right, of any Person or entity; that your Materials are not obscene; and that posting or sharing your Materials on the Site is not actionable at law or equity.<br /><br />
      That you will not post Materials or engage in any other conduct on the Site that would cause you to violate the law or any policies of your educational institution.<br /><br />
      That you have neither intentionally nor with gross negligence submitted any Materials containing or producing any virus or other harmful code or other information that could damage or otherwise interfere with our computer systems or data and/or that of our customers.<br /><br />
      You agree to sign and deliver to Zendo Education Technology any additional documents that Zendo Education Technology may request to confirm Zendo Education Technology’s rights and your warranties and representations under this Agreement.<br /><br />
      You acknowledge that Zendo Education Technology is relying upon the representations, warranties and covenants you have made herein.<br /><br />
      You agree to and hereby do indemnify Zendo Education Technology, its principals, officers, agents, employees, licensees, assigns and customers against, and hold them harmless from, any loss, expense (including reasonable attorney fees and expenses), or damage occasioned by any claim, demand, suit, recovery, or settlement arising out of any breach or alleged breach of any of the representations, warranties or covenants made herein or arising out of any failure by you to fulfill any of the representations, warranties, or covenants you have made in this Agreement.<br /><br />
    </p>

    <h4>Disclaimer of Warranties</h4>
    <p>
      Without limitation to other warnings and disclaimers in this Agreement:
    </p>
    <p>
      You acknowledge that the Site may from time to time encounter technical or other problems and may not necessarily continue uninterrupted or without technical or other errors and that Zendo Education Technology shall not be responsible to you or others for any such interruptions, errors or problems or for discontinuance of any Service. Zendo Education Technology provides no promise or assurance whatever that any of your advertisements or Materials will ever be accessed, viewed or used by other Users.
    </p>
    <p>
      A possibility exists that the Site or any Service could include inaccuracies or errors, or information or materials that violate this Agreement. Additionally, a possibility exists that unauthorized alterations could be made by third parties to the Site or any Service. Although we attempt to ensure the integrity of the Site and its Services, we make no guarantees as to their completeness or correctness.
    </p>
    <p>
      The Site and any Service may be discontinued at any time, without notice, and with or without reason or cause.
    </p>
    <p>
      Zendo Education Technology disclaims any and all responsibility for the deletion, failure to store, misdelivery or untimely delivery of any advertisement or Material.
    </p>
    <p>
      Zendo Education Technology disclaims any and all responsibility for harm resulting from downloading, accessing or responding to any advertisement or Material on the Internet or through the Site.
    </p>
    <p>
      Zendo Education Technology DISCLAIMS ANY AND ALL RESPONSIBILITY, TO YOU AND ALL OTHERS, FOR HARM RESULTING FROM YOUR FAILURE TO ABIDE BY ANY LAW, POLICY OR OTHER LIKE PROVISION RESTRICTING THIRD-PARTY USE OF MATERIALS PREPARED BY EDUCATORS.
    </p>
    <p>
      THIS SITE, INCLUDING ANY CONTENT OR INFORMATION CONTAINED WITHIN IT OR ANY SITE-RELATED SERVICE, IS PROVIDED “AS IS,” WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, AND WITHOUT PREJUDICE TO WARNINGS AND DISCLAIMERS FOUND ELSEWHERE IN THIS AGREEMENT, Zendo Education Technology AND ITS PRINCIPALS, OFFICERS, DIRECTORS, EMPLOYEES, CONSULTANTS, AFFILIATES, AGENTS AND OTHER REPRESENTATIVES (COLLECTIVELY, “Zendo Education Technology”) DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, ACCURACY, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES THAT MAY ARISE FROM COURSE OF DEALING, COURSE OF PERFORMANCE OR USAGE OF TRADE. Zendo Education Technology DISCLAIMS ANY AND ALL WARRANTIES REGARDING THE SECURITY, RELIABILITY, TIMELINESS, AND PERFORMANCE OF ANY SERVICE. NO OPINION, ADVICE OR STATEMENT OF Zendo Education Technology OR ITS USERS, WHETHER MADE ON THE SITE OR OTHERWISE, SHALL CREATE ANY WARRANTY. Zendo Education Technology DISCLAIMS ANY AND ALL WARRANTIES FOR SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE SITE OR RECEIVED THROUGH ANY LINKS APPEARING ANYWHERE ON THE SITE, AS WELL AS FOR ANY INFORMATION OR ADVICE RECEIVED THROUGH ANY LINKS PROVIDED ANYWHERE ON THE SITE.
    </p>
    <p>
      Zendo Education Technology DOES NOT WARRANT THAT YOUR USE OF THE SITE WILL BE UNINTERRUPTED, ERROR-FREE OR SECURE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE OR THE SERVER(S) ON WHICH THE SITE IS HOSTED ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOU ACKNOWLEDGE THAT YOU ARE RESPONSIBLE FOR OBTAINING AND MAINTAINING ALL TELEPHONE, COMPUTER HARDWARE AND OTHER EQUIPMENT NEEDED TO ACCESS AND USE THE SITE, AND ALL CHARGES RELATED THERETO. YOU ASSUME ALL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE AND ANY SERVICE AND YOUR RELIANCE THEREON. YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD OR OTHERWISE OBTAIN MATERIAL, INFORMATION OR DATA THROUGH THE USE OF THE SITE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL, INFORMATION OR DATA.
    </p>
    <p>
      SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE AND JURISDICTION TO JURISDICTION. PROVIDED, HOWEVER, THAT TO THE EXTENT PERMITTED BY APPLICABLE LAW YOU HEREBY WAIVE THE PROVISIONS OF ANY STATE LAW LIMITING OR PROHIBITING SUCH EXCLUSIONS.
    </p>

    <h4>Limitation of Liability</h4>
    <p>
      NEITHER Zendo Education Technology NOR ANY OF OUR PRINCIPALS, OFFICERS, DIRECTORS, EMPLOYEES, CONSULTANTS, AFFILIATES, AGENTS OR OTHER REPRESENTATIVES (COLLECTIVELY, “Zendo Education Technology”) ARE RESPONSIBLE OR LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE OR OTHER DAMAGES (INCLUDING, WITHOUT LIMITATION, PERSONAL INJURY, DAMAGES FOR LOSS OF BUSINESS, LOSS OF DATA OR LOST PROFITS), UNDER ANY CONTRACT, NEGLIGENCE, WARRANTY, STRICT LIABILITY OR OTHER THEORY ARISING OUT OF OR RELATING IN ANY WAY TO USE OR MISUSE OF OR RELIANCE ON THE SITE OR ANY SERVICE OR ANY LINKED SITE, EVEN IF Zendo Education Technology HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND IN NO EVENT SHALL Zendo Education Technology’S TOTAL CUMULATIVE LIABILITY UNDER THIS AGREEMENT EXCEED THE TOTAL AMOUNT, IF ANY, PAID BY YOU TO Zendo Education Technology TO ACCESS THE SITE OR $100, WHICHEVER IS LESS. SUCH LIMITATION OF LIABILITY SHALL APPLY WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF AND/OR RELIANCE ON THE SITE OR ANY SERVICE, FROM INABILITY TO USE THE SITE OR ANY SERVICE, OR FROM THE INTERRUPTION, SUSPENSION, OR TERMINATION OF THE SITE OR ANY SERVICE (INCLUDING ANY SUCH DAMAGES INCURRED BY THIRD PARTIES). THIS LIMITATION SHALL ALSO APPLY WITH RESPECT TO ANY DAMAGES INCURRED BY REASON OF MATERIALS, OR OTHER SERVICES OR GOODS, ITEMS OR MERCHANDISE RECEIVED THROUGH OR ADVERTISED ON THE SITE OR RECEIVED THROUGH ANY LINKS PROVIDED AT, IN OR THROUGH THE SITE. THIS LIMITATION SHALL ALSO APPLY TO THE COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, LEGAL LIABILITY, LOST PROFITS, AND LOST DATA. SUCH LIMITATION SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY LAW.
    </p>
    <p>
      SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO SOME OF THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU. PROVIDED, HOWEVER, THAT TO THE EXTENT PERMITTED BY APPLICABLE LAW YOU HEREBY WAIVE THE PROVISIONS OF ANY STATE LAW LIMITING OR PROHIBITING SUCH EXCLUSIONS OR LIMITATIONS.
    </p>
    <p>
      WITHOUT LIMITING THE FOREGOING, UNDER NO CIRCUMSTANCES SHALL Zendo Education Technology BE HELD LIABLE FOR ANY DELAY OR FAILURE IN PERFORMANCE RESULTING DIRECTLY OR INDIRECTLY FROM ACTS OF NATURE, FORCES, OR CAUSES BEYOND ITS REASONABLE CONTROL, INCLUDING, WITHOUT LIMITATION, INTERNET FAILURES, COMPUTER EQUIPMENT FAILURES, TELECOMMUNICATION EQUIPMENT FAILURES, OTHER EQUIPMENT FAILURES, ELECTRICAL POWER FAILURES, STRIKES, LABOR DISPUTES, RIOTS, INSURRECTIONS, CIVIL DISTURBANCES, SHORTAGES OF LABOR OR MATERIALS, FIRES, FLOODS, STORMS, EXPLOSIONS, ACTS OF GOD, EPIDEMIC, WAR, GOVERNMENTAL ACTIONS, ORDERS OF DOMESTIC OR FOREIGN COURTS OR TRIBUNALS, NON-PERFORMANCE OF THIRD PARTIES, OR LOSS OF OR FLUCTUATIONS IN HEAT, LIGHT, OR AIR CONDITIONING.
    </p>

    <h4>Parental Control Protections</h4>
    <p>
      Pursuant to 47 U.S.C. Section 230 (d), as amended, we hereby notify you that parental control protections (such as computer hardware, software or filtering services) are commercially available that may assist you in limiting access to material that is harmful to minors. Information identifying current providers of such protections is available at http://internet-filter-review.toptenreviews.com
    </p>

    <h4>Special Admonitions for International Use</h4>
    <p>
      We make no representation that products or services available on or through the Site or any Service are appropriate or available for use in locations other than the United States of America. Those who choose to access the Site or any Service from other locations do so on their own initiative and at their own risk, and are responsible for compliance with local laws, if and to the extent local laws are applicable.
    </p>
    <p>
      You agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside. No such products may be downloaded or otherwise exported or re-exported (i) into (or to a national or resident of) Cuba, Iraq, Libya, North Korea, Iran, Syria or any other country to which the United States has embargoed goods; or (ii) to anyone on the U.S. Treasury Department’s list of Specially Designated Nationals or the U.S. Commerce Department’s Table of Deny Orders. By downloading any product available through the Site or any Service, you represent and warrant that you are not located in, under the control of, or a national or resident of any such country or on any such list. We reserve the right to limit the availability of the Site and/or any Service or product described thereon to any person, geographic area or jurisdiction, at any time and in our sole discretion.
    </p>

    <h4>Third Party Websites and Content</h4>
    <p>
      You understand that the Site may contain links to third party web sites that are not owned or controlled by Company (“Third Party Sites”) and that Third Party Sites may contain advertisements, products, pictures, graphics, photographs, trademarks, logos, text, comments, messages, information, audiovisual work, sound recordings, musical compositions, lyrics, and other works and intellectual property (without limitation, “Third Party Content”) that is not owned or controlled by Company.
    </p>
    <p>
      Without in any way limiting any other provisions of this Agreement, Company makes no representations whatsoever about any Third Party Site or Third Party Content that you may access through the Site. When you access any other website, you understand that it is entirely independent from the Site, and that Company has no control over the content of such website nor of its policies. Company will not and cannot investigate, monitor, censor or edit the content of any Third Party Sites or Third Party Content. It is up to you to take precautions to ensure that Third Party Sites and Third Party Content are free of such items as viruses, worms, trojan horses, defects, date bombs, time bombs and other items of a destructive nature. If you access any Third Party Site or use or install any Third Party Content, you do so at your own risk.
    </p>
    <p>
      In addition, a link to another website does not mean that Company endorses or accepts any responsibility for the content, use or policies of the linked website, or that the policies of that website are consistent with our policies or the terms and conditions of this Agreement. We strongly encourage you to become familiar with the terms of use and practices of any linked site. You acknowledge and agree that all Third Party Content and Third Party Sites shall be governed by the terms of use and other rules established by the owners, operators or providers of such Third Party Content and/or Third Party Sites, and that Company shall not be a party to, and shall play no role whatsoever in any dispute you may have with the owners, operators or providers of such Third Party Content and/or Third Party Sites.
      By using the Site and/or Services, you expressly release Company from any and all liability arising from your use of any Third Party Site or Third Party Content.
    </p>

    <h4>Submissions</h4>
    <p>
      You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information about the Site or the Services (“Submissions”) provided by you to Company are non-confidential and shall become the sole property of Company. You hereby assign to Company all exclusive rights, including all intellectual property rights, to Submissions and Company shall be entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without notice, attribution or compensation to you.
    </p>

    <h4>Miscellaneous</h4>
    <p>
      Your rights under this Agreement are not assignable and any attempt by your creditors to obtain an interest in your rights under this Agreement, whether by attachment, levy, garnishment or otherwise, renders this Agreement voidable at Zendo Education Technology’s option.
    </p>
    <p>
      This Agreement is binding on the Parties and their respective heirs, legatees, executors, successors and assigns. Except for Policies and other agreements incorporated by reference herein, this Agreement is the entire agreement between the Parties and supersedes all prior written or oral agreements between the Parties relating to the subject matter hereof. If any portion of this Agreement is found to be void or unenforceable, the remaining portion shall be enforceable with the invalid portion removed, giving all reasonable construction to permit the essential purposes of the Agreement to be achieved. The Parties’ various rights and remedies hereunder shall be construed to be cumulative.
    </p>
    <p>
      This Agreement shall be deemed to have been made in the United States of America, State of Wisconsin, and it shall be governed by the substantive laws of the State of Wisconsin without regard to any applicable conflict of laws provisions. The Parties submit to jurisdiction in the state and federal courts sitting in Dane County, Wisconsin, USA, and you hereby waive any jurisdictional, venue or inconvenient forum objections. Provided, however, that if we are sued or joined in an action in any other court or forum in respect of any matter which may give rise to a claim by us hereunder, you consent to the jurisdiction of such court or forum over any such claim.
    </p>
    <p>
      Nothing contained in this Agreement shall be construed to require the commission of any act contrary to law. Nothing in this Agreement shall be construed or deemed to create any partnership, agency, joint venture, employment or franchise relationship between the Parties.
    </p>
    <p>
      Captions and headings used in this Agreement are for purposes of convenience only and shall not be deemed to limit, affect the scope, meaning or intent of this Agreement, nor shall they otherwise be given any legal effect.
    </p>
    <p>
      No breach of this Agreement by Zendo Education Technology shall be deemed material unless the Party alleging such breach shall have given Zendo Education Technology written notice of such breach, and Zendo Education Technology shall fail to cure such breach within thirty (30) days after its receipt of such notice.
    </p>
    <p>
      All notices required to be sent to Zendo Education Technology under this Agreement shall be in writing and shall be sent by certified mail, return receipt requested, postage paid, or by overnight delivery service, to Zendo Education Technology, Inc., 602 State Street, Suite 200, Madison, Wisconsin 53703, Attention: Legal (or such other address or addresses as may be designated by Zendo Education Technology herein).
    </p>
    <p>
      You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Site or any Service must be filed within one (1) year after such claim or cause of action arose or be forever barred.
    </p>
    <p>
      Notice for California Users. Under California Civil Code Section 1789.3, California Users are entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 400 R Street, Suite 1080, Sacramento, California 95814, or by telephone at (916) 445-1254 or (800) 952-5210. The provider of service is Zendo Education Technology. There is no charge for using basic features of the Site. Charges for advertising and other premium services are available by contacting Zendo Education Technology at the above address, Attention: Customer Service.
    </p>
    <p>
      You agree to defend, indemnify and hold Zendo Education Technology harmless against any losses, expenses, costs or damages (including any reasonable attorneys’ fees and costs) arising from, incurred as a result of, or in any manner related to any claim or action based upon (a) your breach of the terms and conditions of this Agreement, (b) your use of any Service, and/or (c) the use of any Service by any other person using your account. Zendo Education Technology may participate in the defense of any such claim or action and any negotiations for its settlement or compromise. No settlement which may adversely affect our rights or obligations shall be made without our prior written approval.
    </p>
    <p>
      This Agreement has no intended third party beneficiaries.
    </p>

    <h4>Acceptance of Electronic Contract</h4>
    <p>
      You agree that this Agreement has the same legal force and effect as a written contract with your written signature and that it satisfies any laws that require a writing or signature, including any applicable statute of frauds. You further agree that you shall not challenge the validity, enforceability or admissibility of this Agreement on the grounds that it was electronically transmitted or authorized. A printed version of this Agreement shall be admissible in judicial or administrative proceedings based upon or relating to the Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. You acknowledge that you have had the opportunity to print this Agreement.
    </p>

    <h4>Additional provisions for Advertisers</h4>
    <p>
      Zendo Education Technology makes no promise, warranty or guarantee whatever regarding results or the effectiveness of any advertisement you purchase.
      Once an advertisement has been posted to public view on the Site, Zendo Education Technology will not refund any amounts paid for such advertisement, for any reason.
      Zendo Education Technology must receive payment in full for each advertisement before such advertisement will be posted to public view on the Site.
    </p>
  </div>
</div>