.doc_options {
    margin-bottom: 5px;
    padding: 3px;
    border: none;
    background-color:#EEE;
}

.doc_options input {
    border: 1px solid lightGrey;
    background-color:#EEE;
}

.doc_options input:hover, .doc_options input:focus {
    background-color:#fff;
}

#editor_container {
    width:700px;
    float:left;
}

#right_rail {
    padding: 5px;
    margin-left: 10px;
    width:278px;
    float:left;
    height:503px;
    overflow-y: scroll;
    display:table-cell;
    vertical-align:bottom;
}

.align_bottom, .align_bottom tbody, .align_bottom tr, .align_bottom td {
    height:100%;
    margin:0px;
    padding:0px;
    border:0px;
    border-spacing:0px;
}

.card {
    margin-top: 5px;
    width:250px;
    padding: 5px;
    bottom:0px;
    background-color:#E0DFE3;
    color:#9d9d9d;
    position: relative;

    min-height:15px;
    overflow:hidden;
    display:none;
}

.card_active {
    background-color:#D2FF78 !important;
    color:black !important;
    display:block;
}

.card_focus {
    border: 2px dashed darkgrey;
    color:black !important;
    width:248px;
    display:block;
}

.card_front {
    text-align: center;
    padding:10px;

    min-height:15px;
    max-height:100px;
    overflow:hidden;
}

.card_back {
    text-align: center;
    padding:10px;
    border-top: #C2C2C2 2px solid;

    min-height:15px;
    max-height:100px;
    overflow:hidden;
}

.card_active .card_back {
    border-top: #B2F233 2px solid;
}

.card input {
    position:absolute;
    right:0px;
    margin-top:-1px;
}

#cke_contents_editor {
    
}

img.sync {
    margin:2px;
    height:21px;
    width:21px;
    float:right;
    cursor:pointer;
}

img.sync:active {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}