.rounded_border {
    border: 1px solid lightGrey;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.doc_options {
    margin-bottom: 8px;
    padding: 5px;
    border: none;
    background-color:#EEE;
}

.doc_options input {
    border: 1px solid lightGrey;
}

#editor_container {
    width:700px;
    float:left;
}

#right_rail {
    padding: 5px;
    margin-left: 10px;
    width:278px;
    float:left;
    height:503px;
    overflow-y: scroll;
    display:table-cell;
    vertical-align:bottom;
}

.align_bottom, .align_bottom tbody, .align_bottom tr, .align_bottom td {
    height:100%;
    margin:0px;
    padding:0px;
    border:0px;
    border-spacing:0px;
}

.card {
    margin-top: 5px;
    width:250px;
    padding: 5px;
    bottom:0px;
    background-color:#E0DFE3;
    color:#9d9d9d;
}

.card_active {
    background-color:greenyellow !important;
    color:black !important;
}

.card_focus {
    background-color:lightyellow !important;
    color:black !important;
}

.card_front {
    text-align: center;
    padding:10px;
}

.card_back {
    text-align: center;
    padding:10px;
    border-top: dashed grey 1px;
}

#cke_contents_editor {
    height:425px !important;
}