ul {
    padding-left: 15px;
}

#title {
    padding-left: 255px;
    
}

table, tr, td {
    margin:0;
    padding:0;
    border: none;
}

.card_container {
    width:900px;
    height:400px;
    margin:20px auto 0;
    position:relative;
}

.card_container table {
    width:100%;
    height:100%;
    border-spacing: 0;
}

.card_container textarea {
    width:90%;
    height:130px;
    margin-top:10px;
    border: lightgrey solid 1px;
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 14px;
}

.card_container button {
    border: #007AC7 solid 1px;
    background-color: white;
}

.card_container button:hover {
    border: #007AC7 solid 1px;
    background-color: lightgrey;
}

td {
    vertical-align: middle;
    height:50%;
    text-align: center;
}

.card_side {
    width:470px;
    padding: 0 15px;
    background-color: #F5F5F5;
}

#card_front {
    border-bottom: none;
}

#card_back {
    border-top: #5e5e55 dashed 1px;
}

#card_front_text {
    text-align: left;
    color:grey;
}

.card_front_cue {
    color:black;
    font-size:15px;
    line-height: 18px;
}

.grade {
    width: 200px;
    vertical-align: bottom;
}

.grade_lower {
    vertical-align: top;
}

.grade button {
    margin:20px 2px;
}

.grade_hide button {
    display:none;
}

#edit_buttons {
    position:absolute;
    top:0px;
    right:200px;
    margin: 5px;
}

#progress_bar_container {
    margin:5px;
    text-align: center;
    font-size:13px;
    color:#737357;
}

.outline_node {
    display:none;
}

.grade_top_left button, .grade_top_right button, .grade_bottom_left button, .grade_bottom_right button {
    border-color:lightgrey;
    padding:2px;
}

.grade_top_left button, .grade_top_left button:hover {
    background-color:#C4DEBF;
}

.grade_top_right button, .grade_top_right button:hover {
    background-color:#32DE10;
    font-weight:bold;
}

.grade_bottom_left button, .grade_bottom_left button:hover {
    background-color:#F2DAB6;
}

.grade_bottom_right button, .grade_bottom_right button:hover {
    background-color:#F29500;
    font-weight:bold;
}