<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
<head>
  <title>Zen.do | passionate learners</title>

  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <meta name="description" content="Zen.do automatically creates study guides from your notes and tracks how much you know. Spend less time studying and know your material better with Zendo!" />
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="wrapper">
    <div class="contents">
      <%= yield %>
    </div>
  </div>
</body>
</html>